/*------------------------------------*\
    ::Globals
\*------------------------------------*/
body,
html{
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: pt_serifregular, serif;
    background: $color-2;
}

[class*="__inner"]{
	display: block;
	max-width: 1140px;
	margin: 0 auto;
}

img{
    max-width: 100%;
}

svg{
	width: 50px;
	height: 50px;
	fill: $color-1;
	transition: 400ms;
	&:hover{
		fill: $color-3;
	}
}