/*------------------------------------*\
    ::Site Header
\*------------------------------------*/
.site-header{
    text-align: center;
    .header__social{
	display: inline-block;
    	width: 100%;
    	a{
    		margin: {right:$pad*2;}
    	}
    }
}