/*------------------------------------*\
    ::Typography
\*------------------------------------*/
h1{
	font-family: open_sansextrabold, sans-serif;
	text-transform: uppercase;
	margin: {bottom: 0;}
}

p{
	line-height:  2em;
}

a{
	color: $color-3;
	text-decoration: none;
	transition: color 400ms;
	&:hover{
		color: lighten($color-3, 15%);
	}
}