/*------------------------------------*\
    ::Typography
\*------------------------------------*/
h1{
	font-family: open_sansextrabold, sans-serif;
	text-transform: uppercase;
}

a{
	color: $color-3;
}