/*------------------------------------*\
    ::Variables
\*------------------------------------*/
/*------------------------------------*\
    ::Spacing
\*------------------------------------*/
$pad: 0.9375rem;


/*------------------------------------*\
    ::Colors
\*------------------------------------*/
$color-1: #242424;
$color-2: #EDEDED;
$color-3: #ED1C5B;